*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, #004170, #FFFFFF, #DA291C);
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;

}
.text{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    
}