*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main-container{
    display: flex;
    justify-content: space-evenly;
}
second_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}