/* 

body{
    display: flex;
    padding: 0;
    font-family:cursive;
    color: white;
    justify-content: center;
    height: 100vh;
    align-items: center;
  
    
}
.main-container{
    width: 20%;
    height: 20%;
    background-color:rgb(17, 17, 58);
    position: relative;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(15,15,15);


   
  
   
}
img{
    width: 20%;
    border-radius: 50%;
    position:absolute;
    left: 40%;
    bottom: 83%;

    
}
    .testimonial-container{
    width: 300px;
    text-align: center;
    overflow: hidden;
    position: relative;
 }
 .testimonial{
    ;

 }
 .testimonial.active{
    display:block;
    opacity: 1s;
 }
 */
 body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: cursive;

 }

 .testimonial-container{
    width: 30%;
    background-color: rgb(41, 41, 51);
    color: white;
    position: relative;
    padding: 70px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;

 }
 img{
    width: 15%;
    position: absolute;
    border-radius: 50%;
    left: 40%;
    bottom: 80%;
 }


 
